.search {
  margin: 20px 20px 20px 0;
  overflow: auto;
}

.search input {
    float: left;
    width: 200px;
    height: 42px;
    padding: 0 15px;
    border: 1px solid #ccc;
    background-color: #eceff1;
    border-radius: 21px;
}

.search input:focus {
  outline: none;
}